@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamBook.otf');
}

@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/GothamMediumRegular.ttf');
}

@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/GothamBoldRegular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'gotham-bold';
}

.btn-primary {
    background-color: #622d4f !important;
    color: white !important;
}
.btn-primary:hover {
    background-color: #77355f !important;
    color: white !important;
}

.nav-link > p{
    color: white;
    font-family: gotham-bold !important;
    font-size: large;
}


.nav-link:hover {
    color: #f3d2d7 !important;
}



