.bg-admin-card-title {
    background-color: #f13361;
    color: white;
}
.bg-admin-section-title {
    background-color: #fcd5c9;
}
.bg-btn-red {
    background-color: #f13361;
    color: white;
}


@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamBook.otf');
}

@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/GothamMediumRegular.ttf');
}

@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/GothamBoldRegular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'gotham-bold';
}

.loginImage {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Fondo-LogingContraseña.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loginLogo {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inputContainer span {
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: #5D1250;
    height: 40px;
    width: 40px;
}

.inputImg {
    width: 25px;
}

.noBorder {
    border-color: #6b728000 !important;
}

.cardEffect {
    transition: transform 0.3s;
}

.cardEffect:hover {
    transform: scale(1.05); 
}

.navLink {
    transition: transform 0.5s;
    border-bottom: 2px solid transparent;
}

.navLink:hover {
    border-bottom: 2px solid #fffdff;
    transform: scale(1.05); 
}

.limitedText {
    width: 200px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


/* items de formulario de carga de datos admin. */
.item-fecha {
    width: 200px;
}
.item-estado {
    width: 200px;
}
.item-archivo {
    width: 400px;
}
.item {
    width: 350px;
}


.font-gothamBold {
    font-family: 'gotham-bold'!important;
}

th-primary {
    background-color: #5d1250 !important;
    color: white !important;
}


/* Tabla Documentos */
.table-hover tbody tr:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease-in-out; 
  }

.cardTitleDocumento {
    font-family: 'gotham-bold';
    font-size: 1.4rem;
    
}

.btn-xsm {
    height: 80%;
}

/* tabla descripcion */

.limitedCell {
    max-width: 400px !important;
    max-height: 3em !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}